input {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  border: 2px solid var(--fg-primary);
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.25rem 0;
  font-family: var(--font-primary);
  font-size: 20px;
}

input:focus {
  outline: 2px solid var(--fg-focus);
  border-color: var(--fg-focus);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.errorMsg {
  color: red;
  font-style: italic;
  font-size: 0.8rem;
  margin: 0;
}

.error {
  border: 2px solid red;
}
