.button {
  background-color: var(--fg-primary);
  color: var(--bg-primary);
  border: 2px solid var(--fg-primary);
  border-radius: 0.5rem;
  margin: 0.25rem;
  padding: 0.3rem;
  font-family: var(--font-primary);
  font-size: 18px;
  cursor: pointer;
}

button:focus {
  outline: 3px solid var(--fg-focus);
  border-color: var(--fg-focus);
}
